<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">

    <!--Link boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--Link css-->
    <link rel="stylesheet" href="css/largura.css">
    <title>Document</title>
</head>

<body>
    <h1>Contâiner</h1>
    <ul>
        <li>Contâiner de largura fixa: Tem uma largura fixa, normalmente o conteúdo fica localizado no meio da página</li>
        <li>Contâiner fluido: completa toda a tela e adapta para o tamaho di dispositivo</li>
        
        <br>
        
        <div class="container">
            <h2>Exemplo de criação de container fixo.</h2>
            <p>Colocar dentro de uma div e com uma classe de nome "container"</p>
        </div>

        <div class="container-fluid">
            <h2>Exemplo de ciração de container fluido</h2>
            <p>Colocar dentro de uma div e com a classe de nome "container-fluid"</p>
        </div>


    </ul>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>